<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Index bankroot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg  navbar-light bg-light ">
    <a class="navbar-brand" href="#">Cinema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/genreList}">Film by genre</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/actorList}">Actor List</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/filmListByActor}">Film list by actor</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/selectClientAndFilm}">Emprunter un film</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/selectEmprunt}">Restituer un film</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/addClient}">Ajouter un client</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/clientList}">Client list</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
