<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Actor List</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Actor List</h1>
      <br/><br/>
<div>
    <form th:action="@{/voirFilmByActor}"
          method="POST">
        <select name="actorChoisi">
            <option th:each="act : ${actorsList}"
                    th:value="${act.nom}"
                    th:text="${act.nom} + ' ' + ${act.prenom}">Genre</option>
        </select>
        <button type="submit"> valider </button>
    </form>
          </div>
   </body>
</html>