<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Employee List</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Actor List</h1>
      <br/><br/>
<div>
             <table border="1">
                <tr>
                   <th>Nom</th>
                   <th>Nationalité</th>
                   <th>Naissance</th>
                </tr>
                <tr th:each ="act : ${actors}">
                   <td th:utext="${act.getNom()} + ' ' + ${act.getPrenom()}">...</td>
                   <td th:if="${act.getNationalite()}!=null" th:utext="${act.getNationalite().getNom()}">...</td>
                   <td th:if="${act.getNaissance()}!=null" th:utext="${act.getNaissance()}">...</td>
                </tr>
             </table>
          </div>
   </body>
</html>
