<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   
<head>
          
    <meta charset="UTF-8"/>
          <title>Add Client</title>
          
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       
</head>
   
<body>
      <h1>Create a Client:</h1>
       
      <!-- 
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}        
         -->
         
      
<form th:action="@{/addClient}" th:object="${clientForm}" method="POST">
             Nom:
             <input type="text" th:field="*{nom}"/>   
             <br/>
             Prénom:
             <input type="text" th:field="*{prenom}"/>    
             <br/>
             Adresse
             <input type="text" th:field="*{adresse}"/>    
             <br/>
             Anciennete
             <input type="text" th:field="*{anciennete}"/>    
             <br/>
             <input type="submit" value="Create"/>
          
</form>
<br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
             ...
          
</div>
       
   
</body>
</html>
