<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Emprunt List</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Emprunt List</h1>
      <br/><br/>
<div>
             <table border="1">
                <tr>
                   <th>Nom</th>
                   <th>Prenom</th>
                   <th>Adresse</th>
                   <th>Anciennete</th>
                </tr>
                <tr th:each ="cli : ${clients}">
                   <td th:utext="${cli.nom}">...</td>
                   <td th:utext="${cli.prenom}">...</td>
                   <td th:utext="${cli.adresse}">...</td>
                   <td th:utext="${cli.anciennete}">...</td>
                   <td><a th:href="@{/delete/{nom} (nom = ${cli.nom})}">delete</a></td>
                </tr>
             </table>
          </div>
   </body>
</html>  