<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Emprunt List</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Emprunt List</h1>
      <br/><br/>
<div>
             <table border="1">
                <tr>
                   <th>Nom Client</th>
                   <th>Titre Film</th>
                   <th>Date d'emprunt</th>
                   <th>Film restituer</th>
                </tr>
                <tr th:each ="emp : ${empruntList}">
                   <td th:utext="${emp.getClient().getNom()}">...</td>
                   <td th:utext="${emp.getFilm().getTitre()}">...</td>
                   <td th:utext="${emp.getDateEmprunt()}">...</td>
                   <td th:utext="${emp.getRetour()}">...</td>
                </tr>
             </table>
          </div>
   </body>
</html>