<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Employee List</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Film List by actor</h1>
      <br/><br/>
<div>
             <table border="1">
                <tr>
                   <th>Titre</th>
                   <th>Réalisateur</th>
                </tr>
                <tr th:each ="film : ${ensFilmChoisiByActor}">
                   <td th:utext="${film.getTitre()}">...</td>
                   <td th:utext="${film.getRealisateur()}">...</td>
                </tr>
             </table>
          </div>
   </body>
</html>