<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Employee List</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Genre List</h1>
      <br/><br/>
<div>
    <form th:action="@{/voirFilm}"
          method="POST">
        <select name="genreChoisi">
            <option th:each="genre : ${listeGenre}"
                    th:value="${genre.nature}"
                    th:text="${genre.nature}">Genre</option>
        </select>
        <button type="submit"> valider </button>
    </form>
          </div>
   </body>
</html>