<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Welcome</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Bienvenue dans l'application cinéma</h1>
<br/>
    <a th:href="@{/genreList}">Film by genre</a>
    <br/>
    <a th:href="@{/actorList}">Actor List</a>
    <br/>
    <a th:href="@{/filmListByActor}">Film list by actor</a>
    <br/>
    <a th:href="@{/selectClientAndFilm}">Emprunter un film</a>
    <br/>
    <a th:href="@{/selectEmprunt}">Restituer un film</a>
    <br/>
    <a th:href="@{/addClient}">Ajouter un client</a>
    <br/>
    <a th:href="@{/clientList}">Client list</a>
    <br/>
   </body>
</html>
