<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Emprunt List</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Emprunt List</h1>
      <br/><br/>
<div>
    <form th:action="@{/restituerFilm}"
          method="POST">
        <select name="empruntChoisi">
            <option th:each="emp : ${empruntSelectList}"
                    th:value="${emp.getNemprunt()}"
                    th:text="${emp.getFilm().getTitre()} + ' Emprunté par ' + ${emp.getClient().nom}">Genre</option>
        </select>
        <button type="submit"> valider </button>
    </form>
          </div>
   </body>
</html>