<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Actor List</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Client et Film List</h1>
      <br/><br/>
<div>
    <form th:action="@{/emprunterFilm}"
          method="POST">
        <select name="clientChoisi">
            <option th:each="cli : ${clientList}"
                    th:value="${cli.nom}"
                    th:text="${cli.nom}">Genre</option>
        </select>

        <select name="filmChoisi">
            <option th:each="fil : ${filmDispoList}"
                    th:value="${fil.getTitre()}"
                    th:text="${fil.getTitre()}">Genre</option>
        </select>
        <button type="submit"> valider </button>
    </form>
          </div>
   </body>
</html>